.review-item img{
    width: 91px;
}
.review-details-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 17px;
}
.review-item{
    display: flex;
    border: 1px solid rgb(224, 224, 224);
    width: 571px;
    height: 147px;
    margin: 0 auto;
    padding: 8px;
}
.review-details p{
    margin: 0;
}
.delet-icon{
    font-size: 31px;
    color: #EB5757
}
.btn-delet{
    width: 55px;
    height: 55px;
    border: 0;
    background-color: rgba(235, 87, 87, 0.3);
    border-radius: 50%;
}